*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    color: red;
    margin-top: 20px;
    margin-left: 20px;
}
.menu{
    text-decoration: none;
    text-align: right;
    cursor: pointer;
    margin: 25px 25px;
}
a{
    text-decoration: none;
    padding-left: 12px;
    font-size: large;
    
}
.home:visited{
    color: red;
}
a:hover{
    background-color: forestgreen;
}
.j{
    width: 300px;
    height: 300px;
    max-height: 300px;
}
.j1{
    width: 300px;
    height: 300px;
    max-height: 300px;
}
.j2{
    width: 300px;
    height: 300px;
    max-height: 300px;
}
.j3{
    width: 300px;
    height: 300px;
    max-height: 300px;
}
.j4{
    width: 200px;
    height: 300px;
    max-height: 300px;
}
.j5{
    width: 200px;
    height: 300px;
    max-height: 300px;
}
.khali{
    border: 3px solid red;
    height: 200px;
    text-align: center;
    margin-top: 20PX;
    font-size: 50px;
    color: crimson;

}
.p{
    font-size: 15px;
    color: cyan;
    margin-top: 20px;
}
.zoom-effect-image{
    border: 2px solid red;
    width: fit-content;
    float: right;
}

.img-zoom {
    width: 100px;
    
 }
.img-zoom-animation {
	position: absolute;
	width: 0px;
	z-index: 10;
	transition: width 0.3s linear 0s;
 }
 .img-zoom:hover + .img-zoom-animation {
	width: 200px;
}
.image2{
    border: 2px solid red;
    width: fit-content;
    float: right;
}
.image3{
    border: 2px solid red;
    width: fit-content;
    float: right;
}
.image4{
    border: 2px solid red;
    width: fit-content;
    float: right;
}
.image5{
    border: 2px solid red;
    width: fit-content;
    float: right;
}
.image6{
    border: 2px solid red;
    width: fit-content;
    float: right;
}
.footer{
    border: 2px solid red;
    margin-top: 1000px;
    height: 150px;
    background-color: chartreuse;
    text-align: center;
    
}
.mob{
    text-align: right;
    margin-left: 25px;
    text-align:fixed
}
.nam{
    text-align: left;
    bottom: 100px;
}
